---
import Layout from "../layouts/Layout.astro";
---

<Layout title="О нас">
  <div class="intro-animation flex flex-col items-end">
    <h1 class="title text-5xl font-extrabold">О нас</h1>
    <p class="text-xl text-right max-w-2xl">
      Мы — группа талантливых программистов, которые собрались вместе, чтобы
      создавать уникальные и инновационные проекты. Наша команда состоит из
      специалистов в различных областях начиная с дизайнеров, заканчивая продакт
      менеджерами.
    </p>
  </div>
</Layout>
