---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Портфолио">
  <div class="intro-animation flex flex-col items-end">
    <h1 class="title text-5xl font-extrabold">Портфолио</h1>
    <p class="text-xl text-right max-w-2xl">
      Пока что здесь ничего нет, но мы на пути к мировому господству.
    </p>
  </div>
</Layout>
