---
import { Image } from "@astrojs/image/components";

const links = [
  { label: "Главная", href: "/" },
  { label: "О нас", href: "/about" },
  { label: "Портфолио", href: "/portfolio" },
  { label: "Наша команда", href: "/team" },
];
---

<nav
  class="bg-black text-white flex justify-between items-center h-16 px-[10%] border-b border-[#ffffff22]"
>
  <a href="/">
    <Image
      class="logo"
      src="/vaya.svg"
      format="svg"
      width={100}
      height={24}
      alt="VAYA Logo"
    />
  </a>
  <ul class="hidden sm:flex gap-5 items-center">
    {
      links.map((link) => (
        <li class="uppercase text-sm font-medium gradient">
          <a href={link.href}>{link.label}</a>
        </li>
      ))
    }
  </ul>
  <button id="menu-button" class="sm:hidden">
    <Image
      class="logo"
      src="/icons/menu.svg"
      format="svg"
      width={24}
      height={24}
      alt="Menu Icon"
    />
  </button>
</nav>
<menu class="hidden" id="menu">
  <ul class="flex flex-col gap-5 items-center">
    {
      links.map((link) => (
        <li class="uppercase text-md font-medium gradient">
          <a href={link.href}>{link.label}</a>
        </li>
      ))
    }
  </ul>
</menu>

<script>
  const menu = document.getElementById("menu");
  const button = document.getElementById("menu-button");

  button &&
    button.addEventListener("click", () => {
      menu && menu.classList.toggle("hidden");
    });
</script>

<style>
  #menu {
    padding-top: 2rem;
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    /* inset: 0; */
  }

  .logo {
    filter: invert(1);
  }

  .gradient:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
